In [1]:
import yfinance as yf
import pandas as pd

In [2]:
df = yf.download("TSLA", start="2017-01-01", end="2023-04-30")

[*********************100%***********************]  1 of 1 completed

In [3]:
df.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2017-01-03  14.324000  14.688667  14.064000  14.466000  14.466000   88849500
2017-01-04  14.316667  15.200000  14.287333  15.132667  15.132667  168202500
2017-01-05  15.094667  15.165333  14.796667  15.116667  15.116667   88675500
2017-01-06  15.128667  15.354000  15.030000  15.267333  15.267333   82918500
2017-01-09  15.264667  15.461333  15.200000  15.418667  15.418667   59692500

In [6]:
df=df.reset_index()

In [7]:
df['close_time'] = df['Date']

In [8]:
df['open_time'] = df['Date']

In [10]:
df.to_csv("tsla.csv", index=False)

In [16]:
df.tail(1)

,Date,Open,High,Low,Close,Adj Close,Volume,close_time,open_time
1590,2023-04-28,160.899994,165.0,157.320007,164.309998,164.309998,122515800,2023-04-28,2023-04-28